
header {
    /*     background: #e5e5e5; */
    /*     color: #1d1f20; */
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 9999;
    }
    
    /*** INPUT ***/
    header input {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
    
    /*** LABEL ***/
    header label {
        cursor: pointer;
        display: block;
        font: 2em/1'Oswald', sans-serif;
        padding: 0.8em;
    }
    
    /* Hamburger Icon */
    #menu-icon,
    #menu-icon:before,
    #menu-icon:after {
        background: #000;
        border-radius: 0.05em;
        height: 0.2em;
        transition: all 0.2s ease-in-out;
        width: 100%;
    }
    
    #menu-icon {
        display: inline-block;
        margin: 0.4em 0;
        max-width: 1em;
        position: relative;
    }
    
    header label #menu-icon {
        float: right;
    }
    
    #menu-icon:before,
    #menu-icon:after {
        content: '';
        left: 0;
        position: absolute;
    }
    
    #menu-icon:before {
        top: -0.4em;
    }
    
    #menu-icon:after {
        bottom: -0.4em;
    }
    
    /* Close Icon */
    header input[type=checkbox]:checked + label #menu-icon {
        background: transparent;
    }
    
    header input[type=checkbox]:checked + label #menu-icon:before {
        top: 0;
        transform: rotate(-45deg);
    }
    
    header input[type=checkbox]:checked + label #menu-icon:after {
        bottom: 0;
        transform: rotate(45deg);
    }
    
    
    /*** MENU ***/
    
    /* List */
     header ul {
    /*     font-size: 1.5em;
        list-style: none; */
        margin: 0;
        max-height: 0;  
        opacity: 0;
        overflow: hidden;
        padding: 0;
        
    } 
    
    header input:checked ~ ul {
        margin: 1em;
        max-height: inherit;
        opacity: 1;
    }
    
    header ul > li {
        margin: 0.5em 0;
    }