/* .hero-home{
    :root {
        --hero-gap: 0px;
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
    }
    
    body{
        background: #F8F7F7;
    }
    .container-hero, h1{
            background: #F8F7F7;
            display:flex;
            justify-content:center;
            align-items: center;
            text-align:center;
            flex-direction:column;
            height: 100vh;
            perspective: 10px;
            width: 100%;
            font-family: Anton, sans-serif;
            color: white;
            font-size: 150px; 
            letter-spacing: .9rem;
            text-shadow: 
            -1px -1px 0 rgba(255, 255, 255, 0.7),
            1px -1px 0 rgba(255, 255, 255, 0.7), -1px 1px 0 rgba(255, 255, 255, 0.7),
            1px 1px 0 rgba(255, 255, 255, 0.7), 
            -7px 10px 5px #a0a0a0, -4px 4px 5px #a0a0a0
    }

    .hero-content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: calc(100vh - var(--hero-gap));
    }
} */
    
    /* //////////////////////////// */
/*     
.main-container{
    background: #F8F7F7;

    h2 {
        font-size: 4rem;
        animation: fadeInText 4s ease forwards 6s;
    }
    
    
    .main {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f4dee2;
        align-items: center;
        transform: scale(0, 0);
        animation: animate 1s ease-in forwards 2s;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        padding: var(--hero-gap) 2rem;
    }
    
    .main-content {
        width: 100%;
        text-align: center;
        overflow-y: auto;
        overflow: hidden;
    }
}
    
    @keyframes animate {
        0% {
            transform: scale(0, 0.005);
        }
        50% {
            transform: scaleY(0.005);
        }
        100% {
            transform: scale(1, 1);
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(50%);
        }
        to {
            opacity: 1;
            transform: translateY(-50%);
        }
    }
    
    @keyframes fadeInText {
        from {
            opacity: 0;
            transform: translateY(50%);
        }
        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }    

 */

 /* .main-container{
    background: #F8F7F7;
    overflow: auto;
 } */

    .main {
        position: absolute;
        top: 0;
        height: 100vh;
        width: auto;
        display: flex;
        flex-direction: column;
        background-color: #f4dee2;
        overflow-y: auto;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
    }

.left-content h1 {
  width: 100%;
  overflow-y: auto;
  overflow: hidden;
  color: #d31000;
  font-size: 6.5em;
  text-transform: uppercase;
  text-align: left;
  margin-left: 2%;
}

.left-content h1 .text {
  color: #fff;
  display: block;
  font-size: 80px;
  height: 80px;
  line-height: .6;
}

.left-content h1 .char {
  transform: translateY(-515px);
  transition: transform 0.5s;
}
 
.right-content h2{
    color: #d31000;
    text-align: right;
    z-index: auto;
    /* right: 0; */
    font-size: 2em;
    padding-left: 30%;
    margin-top: 0;
    margin-right: 2%;
    font-weight: 600;
}
 

