.Resume *{
        color: #d31000;
    }

.Resume hr{
        border-top: 1px solid #d31000;
    }

.Resume h3{
        text-align: left;
        padding-left: 50px;
        font-size: large;
    }

.Resume p{
        text-align: left;
        padding-left: 50px;
        padding-right: 40px;
        line-height: 30px;
        font-size: large;
    }
